{% extends "base_producto.html" %}
{% block producto_principal %}
<!-- Títulos, subtitulos y precio  -->
<section class="titulo-precio">
    <h1 class="product-name">{{ producto.nombre }}</h1>
    <h2 class="brand">{{ producto.marca }} </h2>
    <h3 class="price">{{ producto.precio }} €/kg</h3>
</section>
<!-- Descripcion del producto -->
<section class="descripcion">
    <p>
        {{ producto.descripcion }}
    </p>
</section>
{% endblock %}


{% block imagenes %}
<div class="imagenes">
{% for img in imagenes %}
<figure>
    <img src={{ img.ruta }} />
    <figcaption>{{ img.pie }}</figcaption>
</figure>
{% endfor %}
</div>
{% endblock %}

{% block comentarios %}
{% for comentario in comentarios %}
<div class="comment-div">
    <span class="comment-date"><i class="fa fa-calendar"></i> {{ comentario.fecha|date('d/m/Y - H:i:s') }}</span>
    <span class="comment-author">@ {{ comentario.autor }}</span><br>
    <span class="comment-body">{{ comentario.cuerpo }} </span>
</div>
{% endfor %}
{% endblock %}

