* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

body{
    background-color: #07202a;

}

header{
    background-color: crimson;
    display: flex;
    margin-top: 0px;
    padding-bottom: 10px;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
}


.logo-img{
    width: 10%;
    align-items: center;
    height: auto;
}

.title-menu {
    height: auto;
    text-align: center;
    flex: 4;
}
.site-title{
    font-size: 1.6vw;
}

a{
    text-decoration: none;
}

nav a{
    padding: 5px;
}

nav a:hover{
    background-color: rgb(156, 15, 43);
}

.menu {
    font-size: 1.2vw;
    padding-bottom: 5px;
}

footer{
    background-color: #041116;
    text-align: center;
    padding: 10px;
    vertical-align: bottom;
}

.links a:hover{
    text-decoration: underline;
}