@font-face {
    font-family: custom;
    src: url(../White\ Wonder.ttf);
}

:root{
    --color1: white;
    --color2: white ;
    --color3: #2589BD;
    --color4: #F7E733;
    --color5: #F02D3A;
}

body{
    background-color:var(--color1);
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

header{
    font-family: custom;
    background-color: var(--color2);
    display: flex;
    margin: 1.6em;
    padding-top: 2em;
    padding-bottom: 2.5em;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
    border-radius: 0.5em;
    color: black;
    border: #242325;
    border-style: dashed;
}


.logo-img{
    width: 10%;
    align-items: center;
    height: auto;
}

.title-menu {
    height: auto;
    text-align: center;
    flex: 4;
}
.site-title{
    font-size: 1.6vw;
}

a{
    text-decoration: none;
    color: black;
}

nav a{
    padding: 5px;
}


.menu {
    font-size: 1.2vw;
    padding-bottom: 5px;
}

footer{
    background-color: #20292c;
    text-align: center;
    padding: 10px;
    vertical-align: bottom;
    color:white;
}


.main-frame{
    display: flex;
}

.productos{
    margin: 1.6em;
    display: grid;
    width: 76%;
    grid-template-columns: 33% 33% 33%;
    padding: 20px;
    border-radius: 2em;
    border-color: #242325;
    border-style: dashed;
}

.links{
    border: #242325;
    border-style: dashed;
    border-width: 0.2em;
    margin: 1.6em;
    width: 24%;
    padding-top: 1em;
    padding-left: 2em;
    background-color: var(--color2);
    color: #041111;
    border-radius: 2em;
}

.suit-title{
    text-align: center;
    width: 80%;
}

.producto-individual{
    margin: 0.4em;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: #242325;
    border-radius: 2em;
    border-style: dashed;
    background-color: var(--color2);
}


.imagen-producto {
    width: 50%;
    padding: 0.5vw;
}

.li-links{
    /* list-style-type: none; */
}

nav a {
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
nav a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
nav a:hover:after { 
  width: 100%; 
  left: 0; 
}
