:root{
    font-family: 'Courier New', Courier, monospace;
}

.divisor{
    display: flex;
}

.sensor-wrap, .actuador-wrap{
    display: flex;
    flex-direction: column;
}

/* .sensor-wrap h2, .actuador-wrap h2{
    align-self: center;
} */

.sensores, .actuadores{
    /* align-self: center; */
    display: flex;
}

.sensor, .actuador, .tiempo{
    padding: 25px;
    margin: 15px;
    border: 2px;
    border-radius: 5px;
    border-style: solid;
}

.sensor input{
    padding: 5px;
}

.actuador input{
    padding: 5px;
}

.sensores-actuadores{
    padding: 25px;
}

.log{
    display: flex;
    padding: 25px;
}

.log-wrap{
    align-content: center;
}

.actuador button{
    margin: 5px;
    padding: 5px;
}