<!DOCTYPE html>
<html>
<head>
    <title>Fruity Fruit</title>
    <link rel="stylesheet" href="{% block css %}static/css/style.css{% endblock %}"/>
    <link rel="icon" type="image/png" href="static/img/logo.png"/>
    {% block extraHeader %}
    {% endblock %}

</head>
<body>
<!-- Cabecera con logo, titulo y menu -->
    <header class="header">
        <!-- Logo 25%  -->
        <img class="logo-img" src="static/img/logo.png"/>
        <!-- Titulo + menu 75% aprox -->
        <div class="title-menu">
            <!-- Titulo 100% -->
            <div class ="site-title">
                <h1><a href="/">Fruity Fruit</h1></a>
            </div>

            <!-- Menu 100% -->
            <nav class="menu">
                <a href="/">Inicio</a> 
                <a href="/">Frutas</a>
                <a href="nosotros.php">Sobre Nosotros</a>
            </nav>
        </div>
        <div class="sesion">
            {% if usuario %}
            <h2>Hola, {{ usuario.nombre }}</h2>
            <div>
                <a href="personal.php"><button class="sesion-btn">Mi cuenta</button></a>
            </div>
            {% if usuario.super == 1 %}
            <div>
                <a href="admin.php"><button class="sesion-btn">Administración</button></a>
            </div>
            {% endif %}
            {% if usuario.mod == 1 %}
            <div>
                <a href="moderacion.php"><button class="sesion-btn">Moderación</button></a>
            </div>
            {% endif %}
            {% if usuario.gestor == 1 %}
            <div>
                <a href="gestion.php"><button class="sesion-btn">Gestión</button></a>
            </div>
            {% endif %}
            <div>
                <a href="logout.php"><button class="sesion-btn">Salir</button></a>
            </div>
            {% else %}
            <!-- boton de inicio de sesion -->
            <h2>No estás conectado</h2>
            <div>
                <a href="login.php"><button class="sesion-btn">Entrar</button></a>
            </div>
            {% endif %}
        </div>

    </header>   

    <!-- Cuerpo principal de la pagina, incluye zona principal de productos y barra lateral -->
    <!-- 100% width -->
    <div class="main-frame">
        <!-- Parte principal, con los contenidos de la tienda -->
        <!-- 75% width -->
        {% block principal %}
        {% endblock %}

        <aside class="links">
            <h2 class="links-title">
                Enlaces de interés
            </h2>
            <li class="li-links">
                <span><a href="https://es.wikipedia.org/wiki/Fruta_tropical">Wikipedia</a></span>
            </li>
            <li class="li-links">
                <span><a href="https://www.ocu.org/alimentacion/alimentos/calculadora/calendario-de-frutas-y-verduras/calendario-de-frutas">Calendario de Frutas</a></span>
            </li>

            <div class="busqueda">
                <h2>Buscador</h2>
                <input type="text" id="search-input">
                <div id="search-results"></div>
            </div>
        </aside>
    </div>
 

    
</body>
    <!-- Pie de pagina -->
<footer class="pie">
    <p>
        AVISO: Ninguna fruta hosteada en el sitio web es apta para el consumo
    </p>

    <p>
        &#169 Todos los derechos reservados | Propietario: Salvador Romero Cortés &lt; <a href="mailto:salvaromero@correo.ugr.es">salvaromero@correo.ugr.es</a> &gt;
    </p>
    <script type="text/javascript" src="static/js/busqueda.js"></script>
    {% block extraFooter %}
    {% endblock %}
</footer>
</html>