{% extends "base_portada.html" %}
{% block principal %}
    <section class="producto">
        <h1> Sobre Nosotros </h1>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque, quibusdam? Non dignissimos eius ratione? Quo aliquid corporis dolore doloribus, eligendi animi autem exercitationem? Consectetur eos ratione, optio repellendus explicabo accusantium! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate necessitatibus placeat sapiente maxime culpa facere repellat, eum assumenda ad unde accusamus, minus repudiandae tempora omnis doloribus nostrum commodi recusandae aut. Lorem ipsum dolor sit amet consectetur adipisicing elit. Id sit obcaecati, velit, architecto voluptatibus nisi itaque est tenetur, repudiandae dicta ex! Ratione blanditiis neque provident, minima ut cumque ipsa distinctio.
        </p>
    </section>
{% endblock %}